GIN_MODE=debug
CONFIG_PATH=/app/config/config.yaml

# Database
DATABASE_URL=postgres://turcompany:turcompany@postgres:5432/turcompany?sslmode=disable
POSTGRES_USER=turcompany
POSTGRES_PASSWORD=turcompany
POSTGRES_DB=turcompany
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# API
API_PORT=4000

# Adminer (optional)
ADMINER_PORT=8080

# pgAdmin (optional)
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
